body{
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fb;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container{
    width: 600px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.top{
    display: flex;
    gap: 10px;
}

.top input{
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.add-btn{
    background: #6c63ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

select{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.task{
    background: #eef1f8;
    margin-top: 15px;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
}

.task:hover{
    transform: scale(1.02);
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.left input[type="checkbox"]{
    width: 18px;
    height: 18px;
}

.text{
    font-size: 16px;
}

.time{
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.completed .text{
    text-decoration: line-through;
    opacity: 0.6;
}

.icons i{
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
}

.fa-pen{
    color: orange;
}

.fa-trash{
    color: gray;
}

/* EDIT MODE */

.edit-box{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.edit-input{
    flex: 1;
    padding: 8px;
    border: 1px solid #6c63ff;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.edit-buttons{
    display: flex;
    gap: 8px;
}

.save-btn{
    background: #6c63ff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn{
    background: #ddd;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}